body {
  /* margin: 40px auto; */
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  /* padding: 10px; */
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  position: relative;
  width: 100vw;
}

.container-graphic {
  width: 98.5vw;
}

@media screen and (min-width: 768px) {
  .container-text {
    position: absolute;
    width: 100%;
    background-color: rgb(0 0 0 / 75%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    top: 44%;
  }
}

.container-text h1 {
  font-weight: bold;
}

.container-text h2 {
  font-weight: normal;
}

.container-text hr {
  margin: auto;
  width: 20%;
}

.container-text a {
  color: inherit;
}
